server:
  port: 8005
spring:
  application:
    name: pwonline-payment-provider

eureka:
#  instance:
#    hostname: server1
  client:
    service-url:
#      defaultZone: http://47.95.2.72:6001/eureka/
      defaultZone: http://localhost:8080/eureka/
---
#默认使用配置
spring:
  profiles:
    active: dev
#  thymeleaf:
#    cache: false

mybatis:
  mapperLocations: classpath:mapper/*.xml
---
spring:
  datasource:
    url: jdbc:mysql://123.207.166.185:3306/orders
    username: root
    password: rootroot
     # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  mvc:
    view:
      prefix: /templates/
      suffix: .html
    static-path-pattern: /static/**
---
spring:
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: liuzemin
    password: liuzemin
    virtual-host: /
    publisher-confirms: true
    publisher-returns: true
  redis:
      #数据库索引
    database: 0
    host: 127.0.0.1
    port: 6379
    jedis:
      pool:
          #最大连接数
        max-active: 8
          #最大空闲
        max-idle: 8
          #最小空闲
        min-idle: 0
---
management:
  endpoints:
    web:
      exposure:
        include: "*"
#logging:
#  level: debug

